In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pickle

In [2]:
## Load the dataset
data=pd.read_csv("data/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the data
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
# OneHotEncode 'Gender'
onehot_encoder_gender = OneHotEncoder()
gender_encoder = onehot_encoder_gender.fit_transform(data[['Gender']]).toarray()
gender_encoded_df=pd.DataFrame(gender_encoder,columns=onehot_encoder_gender.get_feature_names_out(['Gender']))

# OneHotEncode 'Geography'
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))


# Concatenate the encoded columns back to the dataframe and drop the original columns
data = pd.concat([data, gender_encoded_df, geo_encoded_df], axis=1).drop(['Gender', 'Geography'], axis=1)

data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,1.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,1.0,0.0,0.0,0.0,1.0
2,502,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,1.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,1.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,1.0,0.0,0.0,0.0,1.0

In [5]:
## Save the encoders and sscaler
with open('artifacts/onehot_encoder_gender.pkl','wb') as file:
    pickle.dump(onehot_encoder_gender,file)

with open('artifacts/onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [6]:
## DiVide the dataset into indepent and dependent features
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [7]:
with open('artifacts/scaler_salary.pkl','wb') as file:
    pickle.dump(scaler,file)

In [8]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,1.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,1.0,0.0,0.0,0.0,1.0
2,502,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,1.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,1.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,1.0,0.0,0.0,0.0,1.0

### ANN Implementation

In [9]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [10]:
(X_train.shape[1],)

(13,)

In [11]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected with input layer, H1 has 64 neurons
    Dense(32,activation='relu'), ## HL2 which has 32 neurons
    Dense(1)  ## output layer which has 1 neuron for regression
]

)

d:\Work & Study\Study & Projects\Customer Churn Prediction\venv_cus_churn\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           896 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,009 (11.75 KB)

 Trainable params: 3,009 (11.75 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [14]:
## Set up the Tensorboard
import tensorflow
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir = "logs/salary_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [15]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorflow_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 101012.9844 - mae: 101012.9844 - val_loss: 98486.0312 - val_mae: 98486.0312
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 100914.2422 - mae: 100914.2422 - val_loss: 96758.2422 - val_mae: 96758.2422
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 96935.6719 - mae: 96935.6719 - val_loss: 92380.6094 - val_mae: 92380.6094
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 92062.3438 - mae: 92062.3438 - val_loss: 85195.4062 - val_mae: 85195.4062
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 83858.3438 - mae: 83858.3438 - val_loss: 76059.5859 - val_mae: 76059.5859
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 74750.9375 - mae: 74750.9375 - val_loss: 66905.4531 - val_mae: 66905.4531
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 66050.4375 - mae: 66050.4375 - val_loss: 59367.3984 - val_mae: 59367.3984
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 58617.4922 - mae: 58617.4922 - val_loss: 54288.9688 - val_mae: 54288.9688
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 53259.0898 - mae: 53259.0898 - val_loss: 51844.7617 - val_mae: 51844.7617
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51649.8438 - mae: 51649.8438 - val_loss: 50905.8555 - val_mae: 50905.8555
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50808.6328 - mae: 50808.6328 - val_loss: 50655.5742 - val_mae: 50655.5742
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50408.3125 - mae: 50408.3125 - val_loss: 50583.5625 - val_mae: 50583.5625
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50304.4141 - mae: 50304.4141 - val_loss: 50573.0352 - val_mae: 50573.0352
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49909.2812 - mae: 49909.2812 - val_loss: 50558.8203 - val_mae: 50558.8203
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49682.4453 - mae: 49682.4453 - val_loss: 50537.2969 - val_mae: 50537.2969
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49730.6992 - mae: 49730.6992 - val_loss: 50524.5664 - val_mae: 50524.5664
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50058.4141 - mae: 50058.4141 - val_loss: 50514.8438 - val_mae: 50514.8438
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49911.5312 - mae: 49911.5312 - val_loss: 50510.3438 - val_mae: 50510.3438
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49880.0469 - mae: 49880.0469 - val_loss: 50505.2539 - val_mae: 50505.2539
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49400.8477 - mae: 49400.8477 - val_loss: 50483.6562 - val_mae: 50483.6562
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49648.3047 - mae: 49648.3047 - val_loss: 50476.9141 - val_mae: 50476.9141
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50049.0508 - mae: 50049.0508 - val_loss: 50477.4570 - val_mae: 50477.4570
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49405.9141 - mae: 49405.9141 - val_loss: 50467.2305 - val_mae: 50467.2305
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50284.8750 - mae: 50284.8750 - val_loss: 50450.0625 - val_mae: 50450.0625
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49970.5078 - mae: 49970.5078 - val_loss: 50443.5469 - val_mae: 50443.5469
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49384.9375 - mae: 49384.9375 - val_loss: 50442.4336 - val_mae: 50442.4336
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49570.5820 - mae: 49570.5820 - val_loss: 50439.8281 - val_mae: 50439.8281
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49982.5469 - mae: 49982.5469 - val_loss: 50436.2109 - val_mae: 50436.2109
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49309.6719 - mae: 49309.6719 - val_loss: 50426.5391 - val_mae: 50426.5391
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49544.6484 - mae: 49544.6484 - val_loss: 50424.4062 - val_mae: 50424.4062
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48748.5039 - mae: 48748.5039 - val_loss: 50428.9570 - val_mae: 50428.9570
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49000.9805 - mae: 49000.9805 - val_loss: 50427.8438 - val_mae: 50427.8438
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50099.3125 - mae: 50099.3125 - val_loss: 50427.4570 - val_mae: 50427.4570
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49320.8516 - mae: 49320.8516 - val_loss: 50431.5156 - val_mae: 50431.5156
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49583.3711 - mae: 49583.3711 - val_loss: 50423.2969 - val_mae: 50423.2969
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49908.0352 - mae: 49908.0352 - val_loss: 50421.6953 - val_mae: 50421.6953
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49811.9453 - mae: 49811.9453 - val_loss: 50418.9141 - val_mae: 50418.9141
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49016.6094 - mae: 49016.6094 - val_loss: 50423.3125 - val_mae: 50423.3125
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49196.5625 - mae: 49196.5625 - val_loss: 50416.6484 - val_mae: 50416.6484
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49109.7734 - mae: 49109.7734 - val_loss: 50417.7656 - val_mae: 50417.7656
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48954.1211 - mae: 48954.1211 - val_loss: 50420.8633 - val_mae: 50420.8633
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49509.8945 - mae: 49509.8945 - val_loss: 50421.9258 - val_mae: 50421.9258
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49063.4258 - mae: 49063.4258 - val_loss: 50421.2188 - val_mae: 50421.2188
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49119.7148 - mae: 49119.7148 - val_loss: 50423.5742 - val_mae: 50423.5742
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49355.8516 - mae: 49355.8516 - val_loss: 50423.8555 - val_mae: 50423.8555
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49499.6211 - mae: 49499.6211 - val_loss: 50417.4961 - val_mae: 50417.4961
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49327.0977 - mae: 49327.0977 - val_loss: 50411.5430 - val_mae: 50411.5430
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49683.8398 - mae: 49683.8398 - val_loss: 50409.0781 - val_mae: 50409.0781
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49049.5117 - mae: 49049.5117 - val_loss: 50404.8828 - val_mae: 50404.8828
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49330.3438 - mae: 49330.3438 - val_loss: 50410.3867 - val_mae: 50410.3867
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49075.5430 - mae: 49075.5430 - val_loss: 50421.7773 - val_mae: 50421.7773
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49862.7656 - mae: 49862.7656 - val_loss: 50419.3594 - val_mae: 50419.3594
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50188.1797 - mae: 50188.1797 - val_loss: 50417.0391 - val_mae: 50417.0391
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49882.0508 - mae: 49882.0508 - val_loss: 50426.2969 - val_mae: 50426.2969
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49442.7109 - mae: 49442.7109 - val_loss: 50423.1016 - val_mae: 50423.1016
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49475.6758 - mae: 49475.6758 - val_loss: 50413.5273 - val_mae: 50413.5273
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49136.8633 - mae: 49136.8633 - val_loss: 50420.5703 - val_mae: 50420.5703
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49325.2891 - mae: 49325.2891 - val_loss: 50427.7305 - val_mae: 50427.7305
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50013.1758 - mae: 50013.1758 - val_loss: 50427.6094 - val_mae: 50427.6094

In [17]:
model.save('artifacts/model_salary.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [18]:
## Load Tensorboard Extension
%load_ext tensorboard

In [19]:
%tensorboard --logdir logs/salary_logs/fit/20250220-194041